<div class="mx-4">
  <section class="flex flex-col gap-2 items-center">
    <div class="w-full flex justify-between items-start">
      <div>
        <button class="primarybtn" (click)="goBack()"> Regresar</button>
      </div>
      <img class="bg-red-400 size-52 rounded-full" [src]="[url]">
      <div>
        <a class="secondbtn" >Guardar</a>
      </div>
    </div>
    <h1 class="text-lg">{{userName}}</h1>
  </section>

  <section class="flex justify-center">
    <div class="w-5/6 grid  grid-rows-2 md:grid-cols-2 bg-slate-800 ">

      <app-personal-information></app-personal-information>
      <app-contact-information></app-contact-information>

    </div>

  </section>
</div>
