<nav class="sticky top-0 z-10 border-b  border-slate-800 bg-opacity-30
            p-2 px-4 backdrop-blur-lg backdrop-filter">
  <div class=" flex w-full items-center justify-between text-white">
    <div class="flex gap-4">
      <div class="font-bold ">
        ConnectEmpleo🌱
      </div>
      <div class="flex gap-4">
        <a href="#inicio">Inicio</a>
      </div>
    </div>
    <div class="form_style">
      <input class="input_style " type="text" #searchQuery (input)="onSearchUpdated(searchQuery.value)"
        placeholder="Buscar un trabajo">
    </div>

    <button class="primarybtn" [routerLink]="['/login']">
      Iniciar Sesión
    </button>
  </div>
</nav>

<div class="mt-4 flex flex-col items-center text-ctext ">


  @if (noResults){
  <span>No se encontro resultados para {{searchQuery.value}}</span>

  }

  @if(!noResults) {
  <div class="flex w-full flex-col items-center  justify-center gap-5 px-4 md:w-9/12 ">
    @for(ofertaItem of filteredOfertasEmpleos; track ofertaItem.id) {
    <div class="w-full">
      <div class="card_lstyle p-4">
        <div class="mb-4">
          <span class="chips">
            <fa-icon [icon]=faBuildingUser class="text-cyellow"></fa-icon>
            Empresa
          </span>
        </div>
        <div class="flex">
          <div class="h-14 w-14 rounded-lg bg-green-100">
            <img src="ofertaItem.empresa.logo" alt="logo">
          </div>
          <div class="ml-4 flex flex-col">
            <h1 class="text-xl font-medium text-mauve"> {{ofertaItem.empresa.nombre}} </h1>
            <div class="flex mt-4 gap-4">
              <span class="chips">
                <fa-icon [icon]=faLightbulb></fa-icon>
                Fundado en {{ofertaItem.empresa.fechafundacion}}
              </span>
              <span class="chips">
                <fa-icon [icon]=faPeopleGroup></fa-icon>
                Empreados
                <span class="items">{{ofertaItem.empresa.cantidadempleados}}</span>
              </span>
              <span class="chips">
                <fa-icon [icon]=faBuildingCircleCheck></fa-icon>
                Tipo
                <span class="items">{{ofertaItem.empresa.tipo}}</span>
              </span>

            </div>
          </div>
        </div>
        <p class="mt-2 flex items-center text-cblue">
          {{ofertaItem.empresa.sitioweb}}
          <mat-icon class="text-sm">north_east</mat-icon>
        </p>
        <h3 class="mb-1 mt-4 text-xl text-lavender">Descripcion de empresa</h3>
        <div class="mb-4 rounded-md bg-idxsurface1 p-4">

          <p class="text-subtext1">
            {{ofertaItem.empresa.descripcion}}
          </p>

        </div>

        <hr class="h-0.5 border-t-0 bg-strokeline" />
        <div class="my-4">
          <span class="chips">
            <fa-icon [icon]=faPersonDigging class="text-sapphire"></fa-icon>
            Oferta de empleo
          </span>
        </div>
        <div class="my-4">
          <h2 class="text-2xl text-mauve">{{ofertaItem.titulo}} </h2>
          <div class="flex gap-4 mt-2">
            <span class="chips">
              <fa-icon [icon]=faLocationDot></fa-icon>
              {{ofertaItem.ubicacion}}
            </span>

            <span class="chips">
              <fa-icon [icon]=faDollarSign></fa-icon>
              Salario
              {{ofertaItem.salario}}
            </span>

            <span class="chips">
              <fa-icon [icon]=faBriefcase></fa-icon>
              Años experiencia
              {{ofertaItem.aniosexperiencia}}
            </span>

            <span class="chips">
              <fa-icon [icon]=faBuilding></fa-icon>
              Modalidad
              {{ofertaItem.modalidad}}
            </span>

            <span class="chips">
              <fa-icon [icon]=faPerson></fa-icon>
              Vacantes
              {{ofertaItem.vacantes}}
            </span>

          </div>

          <h3 class="mt-6 text-xl mb-2">Detalles de la oferta de empleo</h3>
          <div class="rounded-md bg-idxsurface1 p-4">
            <p class="line-clamp-3 ">{{ofertaItem.descripcion}}</p>
          </div>

        </div>

        <div class="mt-4 flex items-center justify-between text-h2secondary">
          <div>
            <span>
              <fa-icon [icon]=faClock></fa-icon>
              Publicado el
              {{ofertaItem.fechapublicacion}}</span>

          </div>
          <div class="flex items-center gap-4">
            <mat-icon class="icons_mauve" (click)="navigateToLogin()">favorite</mat-icon>
            <button class="second_button_style bg-mauve" type="" (click)="navigateToLogin()">
              Postular
            </button>

          </div>
        </div>

      </div>
    </div>

    }
  </div>
  }

</div>
