<div class="w-screen px-4">

  <div class=" w-full flex flex-col gap-4 justify-center items-center bg-bg_second p-3 rounded-lg mb-4 ">

    <div class="w-full flex border-b py-2 border-slate-800">
      <div class=" min-w-max max-w-max flex flex-col py-2 ">
        <h2>Nombre empresa</h2>
        <h1 class="text-h1primary font-semibold"> Nombre empleo Lorem ipsum dolor sit amet, qui minim labore .</h1>
      </div>

      <fa-icon [icon]="faEllipsis"></fa-icon>
    </div>


    <div class="w-full flex justify-between ">
      <h1 class="mr-3">
        <fa-icon [icon]="faMugHot"></fa-icon>
        En espera
      </h1>
      <button  type="">Eliminar</button>
    </div>

  </div>

  <div class=" w-full flex flex-col gap-4 justify-center items-center bg-bg_second p-3 rounded-lg ">

    <div class="w-full flex border-b py-2 border-slate-800">
      <div class=" min-w-max max-w-max flex flex-col py-2 ">
        <h2>Nombre empresa</h2>
        <h1 class="text-h1primary font-semibold"> Nombre empleo Lorem ipsum dolor sit amet, qui minim labore .</h1>
      </div>

      <fa-icon [icon]="faEllipsis"></fa-icon>
    </div>


    <div class="w-full flex justify-between ">
      <h1 class="mr-3">
        <fa-icon [icon]="faMugHot"></fa-icon>
        En espera
      </h1>
      <button type="">Eliminar</button>
    </div>

  </div>



</div>
