<div class="w-screen px-4">

  @for(postulacion of user.postulaciones; track user.postulaciones){

  <div class=" w-full flex flex-col gap-4 justify-center items-center bg-bg_second p-3 rounded-lg mb-4 ">
    <div class="w-full flex border-b py-2 border-slate-800">
      <div class=" min-w-max max-w-max flex flex-col py-2 ">
        <h2>{{postulacion.establecimiento}}</h2>
        <h1 class="text-h1primary font-semibold">
          {{postulacion.puesto}}
        </h1>
        <p>{{postulacion.descripcion}}</p>
      </div>

    </div>

    <div class="w-full flex justify-between ">
      <h1 class="mr-3">
        <fa-icon [icon]="postulacion.estado | statusIcon"></fa-icon>
        {{postulacion.estado}}
      </h1>
      <div class="flex gap-4">
        <button type="">Detalles</button>
        <button class="iconbtn" type="">
          <fa-icon [icon]="faTrash"></fa-icon>
          Cancelar
        </button>

      </div>
    </div>

  </div>

  }

</div>
