<div>
  <div>
    <h1 class="text-xl font-semibold">{{titulo}}</h1>
    <div class="flex flex-col mb-4">
      <span>{{ubicacion}}</span>
      <span>{{fecha}}</span>
      <a [href]="link" class="text-primarybt">Sitio Web
      </a>
    </div>
  </div>
  <app-requirements [hello]='hello' [modalidad]='modalidad' [experiencia]='experiencia' [salario]='salario'
    [vacantes]='vacantes'></app-requirements>
  <hr class="my-2 h-0.5 border-t-0 bg-strokeline" />
  <div>
    <span class="text-h2secondary">Descripcion</span>
    <p>{{details}} </p>
  </div>
</div>
