<nav class="sticky top-0 z-10 px-4  backdrop-filter backdrop-blur-lg
            bg-opacity-30 p-2 ">
  <div class="flex flex-col">
    <div class=" flex w-full items-center justify-between text-white">
      <div class="font-bold ">
        🌱
      </div>

      <form class="form_style" (submit)="search()">
        <input class="search_input " type="text" [(ngModel)]="termino" placeholder="🔍 Buscar" name="searchTerm">
      </form>
      <div class="flex gap-6">
        <fa-icon [icon]="faBell"></fa-icon>
        <fa-icon [icon]="faUser" (click)="openUserModal()"></fa-icon>
      </div>
    </div>

    <app-sidebar></app-sidebar>

  </div>

  @if (showUserOptionModal) {
  <app-user-options class="fixed right-0 top-0  p-6" (closeUserModalEvent)=closeUserModal()></app-user-options>

  }

</nav>
