<nav class="sticky top-0 z-10 px-4  backdrop-filter backdrop-blur-lg
            bg-opacity-30 p-2 border-b border-slate-800">
  <div class=" flex w-full items-center justify-between text-white">
    <div class="font-bold">
      ConnectEmpleo🌱
    </div>
    <div class="flex gap-4">
      <a href="#inicio">Inicio</a>
      <a href="#consejos">Consejos</a>
      <a href="#nosotros">Nosotros</a>
      <a href="#contactos">Contactos</a>
    </div>
    <button class="primarybtn" routerLink="login">
      Iniciar sesión
    </button>
  </div>

</nav>
<div class="  w-full z-0  px-4">
  <div id="inicio" class="relative card_lstyle  ">

    <section  class="flex flex-col items-center">
      <h1 class="mt-24 text-5xl w-2/4 font-semibold text-center text-h1primary">
        <span class="font-bold gradient_text">ConnectEmpleo</span>
        tu puerta de entrada al mundo laboral
      </h1>
      <p class="mt-9 w-1/3 text-center text-h2secondary">
        Encuentra el trabajo perfecto. Conecta con empresas líderes.
        Construye tu futuro
      </p>
      <button class="primarybtn mt-9 px-4">
        Comenzar 🌚
      </button>
    </section>

    <section id="consejos" class=" mt-28 flex items-center justify-center gap-16 t-60">
      <div>
        <h2 class="text-3xl w-72">
          ¡Encuentra el trabajo ideal con ConnectEmpleo!
        </h2>
        <p class="w-72 mt-2 text-paragraph1">
          Descubre ofertas de trabajo en diversos sectores y áreas. Conexión directa con empresas de renombre.
          Herramientas personalizadas para optimizar tu perfil.
          Asesoría profesional para tu CV y entrevistas.
        </p>
      </div>
      <div class="w-72 h-60 rounded-3xl border border-strokeline card_shadow">

      </div>

    </section>

    <section id="nosotros" class=" mt-28 flex justify-center gap-16 t-60">
      <div class="w-72 py-6 h-70 rounded-3xl border border-strokeline card_shadow2">

      </div>
      <div>
        <h2 class="text-3xl w-72">
          ¿Quiénes somos?
        </h2>
        <p class="w-72 mt-2 text-paragraph1">
          Somos un equipo apasionado por el mundo laboral, compuesto por profesionales con amplia experiencia en la
          industria de reclutamiento y selección de personal. Creemos firmemente en el poder del talento humano como
          motor del crecimiento y el desarrollo.
        </p>
      </div>

    </section>
    <section id="contactos" class=" my-28 flex flex-col items-center justify-center gap-16 t-60">
      <div>
        <h2 class="text-3xl w-72">
          Contactanos
        </h2>
        <p class="w-72 mt-2 text-paragraph1">
          En ConnectEmpleo estamos siempre dispuestos a ayudarte. Si tienes alguna pregunta, sugerencia o necesitas
          asistencia, no dudes en contactarnos.
        </p>
      </div>

      <form class="form_style" [formGroup]="profileForm" (ngSubmit)="submitApplication()">

        <label for="email-contact">Email </label>
        <input class="input_style" id="email-contact" type="email" formControlName="email">

        <label for="message-contact">Mensaje </label>
        <input class="input_style" id="message-contact" type="text" formControlName="message">

        <button class="primarybtn mt-2 py-0.5 " type="submit" [disabled]="!profileForm.valid">Enviar</button>

      </form>

    </section>
  </div>
</div>
