<div class="flex h-screen w-screen flex-col items-center justify-center text-white">
  <div class="text-center">
    <h1 class="text-3xl font-semibold ">Crear cuenta</h1>

    <div class="w-74 mt-10">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 ">
        <input class="input_style" type="text" formControlName="userName" [ngClass]="getClasses('userName')"
          [placeholder]="getPlaceholder('userName')">

        <input class="input_style" type="email" formControlName="email" [ngClass]="getClasses('email')"
          [placeholder]="getPlaceholder('email')">

        <input class="input_style" type="password" formControlName="password" [ngClass]="getClasses('password')"
          [placeholder]="getPlaceholder('password')">

        <div class="mb-3">

          <select class="input_style text-cyellow" id="rol" formControlName="userType">
            <option value='' disabled selected>Selecciona un rol</option>
            @for(rol of userTypes; track rol){
            <option [value]="rol.value">{{rol.value}}</option>
            }
          </select>

          <label class="mt-4 inline-flex items-center">
            <input class="" type="checkbox" formControlName="termsAccepted">
            <span class="ml-1">
              Acepto los
              <a class="text-primarybt">
                términos y condiciones
              </a>
            </span>
          </label>


        </div>
        <button class="primarybtn" type="submit">
          Crear
        </button>
      </form>


    </div>

    @if(submitted && !termsAcceptedChecked()){

    <p class="mt-4 w-64 text-redErrorColor">*Acepta los terminos y condiciones</p>

    }

  </div>
  <section class="mt-12">
    Ya tienes una cuenta?
    <a [routerLink]="['/login']" class="text-primaryh1help hover:text-primarybt ">
      Iniciar sesión
    </a>
  </section>
</div>


@if(registerIssucces){
<div class="modal_card">
  <fa-icon [icon]=faCheck class="text-4xl text-mauve"></fa-icon>
  <p class="text-center mb-6">Se registro correctamente porfavor presione en continuar para iniciar sesion</p>

  <button class="primarybtn" (click)="goToLogin()"> Continuar</button>
</div>
}

@if(registerFail){
<div class="modal_card">
  <fa-icon [icon]=faXmark class="text-4xl text-redErrorColor"></fa-icon>
  <p class="text-center mb-6">Parece que sucedió un error porfavor intentalo de nuevo</p>

  <button class="primarybtn" (click)="goToReturn()">
    <fa-icon [icon]="faRotateLeft"></fa-icon>
    Regresar
  </button>
</div>
}
