<div class="text-white w-screen h-screen flex flex-col justify-center items-center">
  <div class="text-center">
    <h1 class="font-semibold text-3xl ">Inicia tu sesión</h1>

    <div class="w-64 mt-10">
      <form class="flex flex-col gap-4">
        <input class="input_style" type="email" name="" value="" placeholder="Email">
        <input class="input_style" type="password" name="" value="" placeholder="Contraseña">

        <a href="" class="text-primaryh1help">Recuperar contraseña</a>

        <button type="submit">
          <mat-icon>arrow_forward</mat-icon> </button>
      </form>
    </div>

  </div>
  <section class="mt-12">
    No  tienes  una cuenta?
    <a [routerLink]="['/register']" class="text-primaryh1help hover:text-primarybt ">
      Crear cuenta
    </a>
  </section>
</div>
