<div class="sidebar_content">
  <div class="sidebar_section">
    <a class="sidebar_item" href="">
      <fa-icon [icon]=faHouse></fa-icon>
      <span class="sidebar_text">
        Inicio
      </span>
    </a>
    <a class="sidebar_item" href="">
      <fa-icon [icon]=faBell></fa-icon>
      <span class="sidebar_text">Notificaciones</span>
    </a>
    <a class="sidebar_item" href="">
      <fa-icon [icon]=faHeart></fa-icon>
      <span class="sidebar_text">Guardados</span>
    </a>


  </div>
  <div>
    <a class="sidebar_item" href="">
      <fa-icon [icon]=faCircleInfo></fa-icon>
      <span class="sidebar_text">Ayuda</span>
    </a>

  </div>
</div>
